{%extends "blog/layout.html"%}

{% block title %}Register{% endblock %}

{%block content%}

{%if form.errors%}
<p>Your username and password didn't match. Please try again.</p>
{%endif%}

{%if next%}
{%if user.is_authenticated%}
<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
{%else%}
{%endif%}
{%endif%}

<h2>Sign up</h2>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Sign Up</button>
</form>

<p>Already registered? <a href="{%url 'password_reset'%}">Already registered? Login</a> here!</p>
<p>Please login to see this page.</p>

{%endblock%}